G14_ec_batches_32merFrq.tsv
G14_ec_batches_contigBubble.fa
G14_ec_batches_contig.fa
G14_ec_batches_gapClosed.fa
G14_ec_batches_lib1_insFreq.tsv
G14_ec_batches_scaffoldComponent.tsv
G14_ec_batches_scaffold.fa
