batch-00000001-k27.bf.data
batch-00000002-k27.bf.data
batch-00000003-k27.bf.data
batch-00000004-k27.bf.data
G14.corrected.1.fastq.gz
G14.corrected.2.fastq.gz
G14.corrected.fastq
G14.corrected.se.fastq.gz
