G14_ec_ind_32merFrq.tsv
G14_ec_ind_contigBubble.fa
G14_ec_ind_contig.fa
G14_ec_ind_gapClosed.fa
G14_ec_ind_lib1_insFreq.tsv
G14_ec_ind_scaffoldBubble.fa
G14_ec_ind_scaffoldComponent.tsv
G14_ec_ind_scaffold.fa
