G14_ec_batches.ctg.fasta
G14_ec_batches.ctg.qual
G14_ec_batches.ctg.qv
G14_ec_batches.scf.fasta
G14_ec_batches.scf.qual
G14_ec_batches.scf.qv
G14_ec_batches.utg.fasta
G14_ec_batches.utg.qual
G14_ec_batches.utg.qv
