G1234_1.nm.fastq.gz
G1234_2.nm.fastq.gz
G1234.merged.fastq.gz
sub_10_1.fastq
sub_10_1.nm.fastq
sub_10_2.fastq
sub_10_2.nm.fastq
sub_10.merged.fastq
sub_11_1.fastq
sub_11_1.nm.fastq
sub_11_2.fastq
sub_11_2.nm.fastq
sub_1_1.fastq
sub_11.merged.fastq
sub_1_1.nm.fastq
sub_12_1.fastq
sub_12_1.nm.fastq
sub_12_2.fastq
sub_12_2.nm.fastq
sub_1_2.fastq
sub_12.merged.fastq
sub_1_2.nm.fastq
sub_13_1.fastq
sub_13_1.nm.fastq
sub_13_2.fastq
sub_13_2.nm.fastq
sub_13.merged.fastq
sub_14_1.fastq
sub_14_1.nm.fastq
sub_14_2.fastq
sub_14_2.nm.fastq
sub_14.merged.fastq
sub_15_1.fastq
sub_15_1.nm.fastq
sub_15_2.fastq
sub_15_2.nm.fastq
sub_15.merged.fastq
sub_16_1.fastq
sub_16_1.nm.fastq
sub_16_2.fastq
sub_16_2.nm.fastq
sub_16.merged.fastq
sub_17_1.fastq
sub_17_1.nm.fastq
sub_17_2.fastq
sub_17_2.nm.fastq
sub_17.merged.fastq
sub_18_1.fastq
sub_18_1.nm.fastq
sub_18_2.fastq
sub_18_2.nm.fastq
sub_18.merged.fastq
sub_19_1.fastq
sub_19_1.nm.fastq
sub_19_2.fastq
sub_19_2.nm.fastq
sub_19.merged.fastq
sub_1.merged.fastq
sub_20_1.fastq
sub_20_1.nm.fastq
sub_20_2.fastq
sub_20_2.nm.fastq
sub_20.merged.fastq
sub_21_1.fastq
sub_21_1.nm.fastq
sub_21_2.fastq
sub_21_2.nm.fastq
sub_2_1.fastq
sub_21.merged.fastq
sub_2_1.nm.fastq
sub_2_2.fastq
sub_2_2.nm.fastq
sub_2.merged.fastq
sub_3_1.fastq
sub_3_1.nm.fastq
sub_3_2.fastq
sub_3_2.nm.fastq
sub_3.merged.fastq
sub_4_1.fastq
sub_4_1.nm.fastq
sub_4_2.fastq
sub_4_2.nm.fastq
sub_4.merged.fastq
sub_5_1.fastq
sub_5_1.nm.fastq
sub_5_2.fastq
sub_5_2.nm.fastq
sub_5.merged.fastq
sub_6_1.fastq
sub_6_1.nm.fastq
sub_6_2.fastq
sub_6_2.nm.fastq
sub_6.merged.fastq
sub_7_1.fastq
sub_7_1.nm.fastq
sub_7_2.fastq
sub_7_2.nm.fastq
sub_7.merged.fastq
sub_8_1.fastq
sub_8_1.nm.fastq
sub_8_2.fastq
sub_8_2.nm.fastq
sub_8.merged.fastq
sub_9_1.fastq
sub_9_1.nm.fastq
sub_9_2.fastq
sub_9_2.nm.fastq
sub_9.merged.fastq
