G14-ec-G4-filtered-k31-kgt15-pgt0.9_32merFrq.tsv
G14-ec-G4-filtered-k31-kgt15-pgt0.9_contigBubble.fa
G14-ec-G4-filtered-k31-kgt15-pgt0.9_contig.fa
G14-ec-G4-filtered-k31-kgt15-pgt0.9_gapClosed.fa
G14-ec-G4-filtered-k31-kgt15-pgt0.9_lib1_insFreq.tsv
G14-ec-G4-filtered-k31-kgt15-pgt0.9_scaffoldComponent.tsv
G14-ec-G4-filtered-k31-kgt15-pgt0.9_scaffold.fa
