G14-ec-G4-filtered-k31-kgt15-pgt0.9.ctg.fasta
G14-ec-G4-filtered-k31-kgt15-pgt0.9.ctg.qual
G14-ec-G4-filtered-k31-kgt15-pgt0.9.ctg.qv
G14-ec-G4-filtered-k31-kgt15-pgt0.9.scf.fasta
G14-ec-G4-filtered-k31-kgt15-pgt0.9.scf.qual
G14-ec-G4-filtered-k31-kgt15-pgt0.9.scf.qv
G14-ec-G4-filtered-k31-kgt15-pgt0.9.utg.fasta
G14-ec-G4-filtered-k31-kgt15-pgt0.9.utg.qual
G14-ec-G4-filtered-k31-kgt15-pgt0.9.utg.qv
