G1_TCCGCGAA-ATAGAGGC_L002_R1_001.fastq.gz
G1_TCCGCGAA-ATAGAGGC_L002_R2_001.fastq.gz
G2_TCCGCGAA-CCTATCCT_L002_R1_001.fastq.gz
G2_TCCGCGAA-CCTATCCT_L002_R2_001.fastq.gz
G3_TCCGCGAA-GGCTCTGA_L002_R1_001.fastq.gz
G3_TCCGCGAA-GGCTCTGA_L002_R2_001.fastq.gz
G4_TCCGCGAA-AGGCGAAG_L002_R1_001.fastq.gz
G4_TCCGCGAA-AGGCGAAG_L002_R2_001.fastq.gz
